.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffff;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.grouplist{
  margin-top: 30px;
  margin-left: 350px;
  margin-right: 80px;
}
.container{
  margin: 15px;
}

.imgcss{
    width: 310px;
    height: 212px;
    border: 0px solid #dad9d9;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    float: none;
    margin-right: 10px;
    margin-left: 10px;
    
}
.textcss{
    width: 475px;
    height: auto;
    float: right;
}
.locationcss{
    color: red;
    font-size: 14px;
}
.notecss{
 font-size: 10px;
 width: 300px;
 float: left;
}

.rewardcss{
  float: right;
  display: inline;
  font-size: 20px;

}
.pricecss{
  float: right;
  margin-top: 90px;
}
.select{
  float: right;
}